/*corpo da página*/

body{
    background-color: #121212;
    margin: 0;
    padding: 0;
}



/* barra de header/navegação*/


.conteiner{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-radius: 3px ;
    background:linear-gradient(45deg, #7F00FF,rgb(63, 12, 114), #000);


}

nav{
    display: flex;
}

nav{
    list-style: none;
}

nav a{
    color:#fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin: 0 10px;
    position: relative;
    transition: all 0.5;
    text-transform: uppercase;
}

nav a::before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #000;
    border-width: 0px 0px 3px 3px;
    opacity: 0;
    transition: all 0.6s;
}

nav a:hover::before{
    opacity: 1;
    bottom:-8px;
    left: -8px;
}


nav a::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-width: 3px 3px 0px 0;
    opacity: 0;
    transition: all 0.6s;
}

nav a:hover::after{
    opacity: 1;
    top:-8px;
    right: -8px;
}


/*PARAGRAFO*/

.card{
    height:auto;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
   
}



